<div>
  <form>
    <center><div id="showHere">&nbsp;</div></center>
    <div id="img_meta_data"><h5 class="text-center">Please upload a File(Max:1 photo)</h5>
      <input class="upload_photo center-block" type="file" id="inputFile" accept="image/*" capture="camera">
    </div>
  </form>
</div>


<!-- line 792 in production\views\index.erb -->

<!-- <div id= "upload_photo_section" style="display: none"> -->
<!-- <div id= "upload_photo_section">
  <section id="evidence" class="page-scroll">
    <form id="photos">
      <div class ="container3 ">
       <button id="" class="company_info_menu_button center-block" data-toggle="collapse" data-target="#photos"><h3>Photos</h3></button>
        <div id="photos" class="collapse in">
          <div class="row">
            <center><div id="showHere">&nbsp;</div></center>
              <div id="img_meta_data"><h5 class="text-center">Please upload a File(Max:1 photo)</h5>
             <input class="upload_photo center-block" type="file" id="inputFile" accept="image/*" capture="camera">
              </div>
          </div>
          <div class="btmargin text-center">
            <input id="btnUpdatePhotoPreview" class="btn btn-primary photobtn" role="button" aria-disabled="true" value="Upload Photo and continue with audit">
            <input id="deletePhoto" class="btn btn-primary photobtn" role="button" aria-disabled="true" value="Cancel Upload">
          </div>
        </div>
      </div>
    </form>
  </section>
</div> -->