<!DOCTYPE html>
<html lang="en">
  
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Image Validation Prototype</title>

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <section>
        <%= yield %>  <!-- load unique content from other .erb files -->
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- script to validate uploaded image & advise if invalid file -->
    <script src="js/validate_image.js"></script>

  </body>

</html>